{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1>Blog</h1>
	<div class="content columns">
		{% for item in page.collection %}
			<div class="left">
				<small><i>{{ item.date | date('d.m.Y') }}</i></small>
			</div>
			<div class="right">
				<h2>{{ item.title }}</h2>
				{{ item.summary|raw }}
				<a href="{{ item.url }}" title="{{ item.title }}">mehr lesen...</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}


